<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title><%= character2.name %></title>
</head>
<body>
    <img src="<%= character1.imageUrl || 'default-image.png' %>" alt="<%= character2.name %>">
    <h2><strong>ID:</strong> <%= character1.id %></h2>
    <h1><%= character1.firstName %></h1>
    <h1><%= character1.lastName %></h1>
    <p><strong>Born in:</strong> <%= character2.born || "N/A" %></p>
    <p><strong>Died in:</strong> <%= character2.died || "N/A" %></p>
    <p><strong>Título:</strong> <%= character1.titles || "N/A" %></p>
    <p><strong>Alias:</strong> <%= character2.aliases || "N/A" %></p>
    <p><strong>Familia:</strong> <%= character1.family || "N/A" %></p>
    <form action="/nextcharacter" method="post">
        <button type="submit">Siguiente</button>
    </form>
    <form action="/backcharacter" method="post">
        <button type="submit">Siguiente</button>
    </form>
    <form action="/backhome" method="post">
        <button type="submit">Anterior</button>
    </form>
</body>
</html>
